{% extends "base.html" %}

    {% block title %}Show entries
    {% endblock %}
{% block head %}
{{ super() }}
    <link href="/static/mycss.css" rel="stylesheet">

{% endblock %}
{% block page_content %}

  {% if session.logged_in %}

    <form action="{{ url_for('main.add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
 
{% endblock %}
{% block page_footer %}

{% endblock %}