{% extends "base.html" %}
{% block title %}Show entries
{% endblock %}
{% block head %}
{{ super() }}
<link href="/static/installment.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}
{% block page_content %}

<h2 class="form-title">请填写预约信息</h2>
<div class="row">
<div class="alert alert-danger col-xs-offset-1 col-xs-10" id="warning-info">错误！请进行一些更改。</div>
</div>
<!--没有name属性的<input>的数据不会被提交-->
<form role="form" action="/placeOrder" method="POST" id="ins-form" class="form-horizontal">

    <div class="input-item form-group">
        <!-- label的for要与id相同，点后标签后辅助聚焦-->
        <label for="mobile" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-earphone"></span>  联系方式
        </label>
        <div class="col-xs-8">
            <input type="text" id="mobile" name="mobile" class="input-text form-control"/>
        </div>
    </div>
    <div class="input-item form-group">
        <label for="bankjq" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-usd"></span>  选择银行
        </label>
        <div class="col-xs-8">
            <select name="bankjq" id="bankjq" class="form-control">
                <option value="0">请选择</option>
                <option value="zs">招商银行</option>
                <option value="gf">广发银行</option>
                <option value="gs">工商银行</option>
                <option value="js">建设银行</option>
                <option value="ny">农业银行</option>
            </select>
        </div>
    </div>
    <div class="input-item form-group">
        <label for="phonetypejq" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-phone"></span> 选择手机
        </label>
        <div class="col-xs-8">
            <select name="phonetypejq" id="phonetypejq" class="form-control">
                <option value="0">请选择</option>
                <option value="i6">iPhone6S/Plus</option>
                <option value="p9">华为P9</option>
                <option value="s7">三星S7</option>
                <option value="other">其他</option>

            </select>
        </div>
    </div>

    <div class="input-item form-group">
        <label for="provincejq" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-globe"></span> 选择门店
        </label>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6">
                    <select name="provincejq" id="provincejq" class="form-control">
                        <option value="0">请选择</option>
                        <option value="dc">东城区</option>
                        <option value="xc">西城区</option>
                        <option value="cy">朝阳区</option>
                        <option value="ft">丰台区</option>
                        <option value="sjs">石景山区</option>
                        <option value="hd">海淀区</option>
                        <option value="mtg">门头沟区</option>
                        <option value="fs">房山区</option>
                        <option value="tz">通州区</option>
                        <option value="sy">顺义区</option>
                        <option value="cp">昌平区</option>
                        <option value="dx">大兴区</option>
                        <option value="hr">怀柔区</option>
                        <option value="pg">平谷区</option>
                        <option value="my">密云区</option>
                        <option value="yq">延庆区</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    <select name="areajq" id="areajq" class="form-control">
                        <option value="0">请选择</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="input-item form-group">
        <label for="storejq" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-home"></span> 选择门店
        </label>
        <div class="col-xs-8">
            <select name="storejq" id="storejq" class="form-control">
                <option value="0">请选择</option>
            </select>
        </div>
    </div>
    <div class="input-item form-group">
        <label for="ps" class="col-xs-4 control-label text-center">
            <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注
        </label>
        <div class="col-xs-8">
            <textarea name="ps" id="ps" class="form-control" rows="3">
                </textarea>
        </div>
    </div>
    <div class="input-item form-group">
        <div class="col-xs-offset-8 col-xs-4">
            <input type="button" id="submit" name="submit" value="提交" class="btn btn-primary form-control"/>
        </div>
    </div>


</form>
<p id="text"></p>
<p id="s4"></p>
<p id="s5"></p>
<p id="s6" style="display:none">{{ request.script_root|tojson|safe }}</p>


<p><input type=text size=5 name=a>+<input type=text size=5 name=b> =<span id=result>?</span>
<a href=# id=calculate>ajax go</a>
</p>


<script src="/static/installmentjq.js">

</script>
{% endblock %}
{% block page_footer %}

{% endblock %}