{% extends "base.html" %}

    {% block title %}Show entries
    {% endblock %}
{% block head %}
{{ super() }}
    <link href="/static/mycss.css" rel="stylesheet">

{% endblock %}
{% block page_content %}

  {% if session.logged_in %}
   <a href="{{ url_for('main.add_entry') }}">Add entry</a>
  {% endif %}

  <h1>Show entries</h1><!-- 忽略多余的空行 -->

  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
  <ul class=usrs>
  {% for user in usr_list %}
    <li><h2>{{ user.email }}</h2>{{ user.created_date|date_filter }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
   <!--
    <h1> {{ format_price(0.33) }}</h1>
    <h1> {{ 0.33|format_price2 }}</h1>
    <a href="http://www.baidu.com" target="_blank">W3C</a>
    <img id="im1" src="{{ url_for('static', filename='eg_mouse.jpg') }}" width="128" height="128"
         alt="Big Mouth" />
    <img id="im2" src="{{ url_for('static', filename='eg_mouse2.jpg') }}" width="128" height="128"
         alt="Big Mouth" />
    <a href="http://www.baidu.com" target="_blank">
      <img src="{{ url_for('static', filename='eg_mouse.jpg') }}" width="128" height="128"
         alt="Big Mouth" />
    </a>
    -->
    <!-- 不能放在head里 因为载入时DOM还没有生成-->

    <script>
        function changeText(id){
            id.innerHTML+="Date()"
        }


function changeText(id){
  if(id.innerHTML.length<60){
    id.innerHTML+=Date();
  }

}

    </script>

{% endblock %}
{% block page_footer %}

{% endblock %}