/*
div.form-part{
    margin:10px auto;
    padding:2% 1% 1% 2%;
    width:400px;
    background:#f0f0f0;
}
.input-item{
    margin:25px auto;
    padding:10px auto;
}
select,input{
    float:right;
    margin-right:20px;
}
label{
    margin-left:20px;
    color:#a0a0a0;
}
#bank,#phonetype,#bankjq,#phonetypejq,#s3,#storejq,#testid,input{
    width:60%;
     height:37px;
}
#s1,#s2,#provincejq,#areajq{
    width:28%;
     height:37px;
}
#s1{
    margin-right:10px;
}
input.input-text{
    float:right;
    width:60%;
    height:37px;
}
h2.form-title{
    font-size:16px;
    padding:20px auto 20px;

}
label{
    padding-top:3%
}*/
label{
margin-bottom:auto;
margin-top:5px;
padding-right:0px;
}
label,input{
vertical-align:middle;
}
#warning-info{
padding:5px;
margin-bottom:5px;
visibility:hidden;
}
#logoimg{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
}
#logodiv{

    background-color:#ffffff;

}