body{
    font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
}
h2{
    text-align:center;
}
div.main-body{
    width:350px;
    margin:auto;

}
.input{
    margin:0px;
    padding:5px;
}
.sub-button{
    margin-top:15px;
}
.form-part{
    border:solid 1px #E0E0E0;
    border-radius:5px;
    padding:20px 10px 5px 10px;
    margin-top:30px;
}
.register{
    border:solid 1px #E0E0E0;
    border-radius:5px;
    padding-top:10px;
    margin-top:10px;
}
.register p{
    text-align:center;
}