h1 {
	text-align:center;

}

address {
	text-align:center
}
img[alt] {
	border:solid
}
ul.entries li,ul.usrs li{
    border-bottom:solid 1px #F0F0F0;
    padding:10px;
}
ul.entries{
    border-top:solid 1px #F0F0F0;
}